@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

/* Default (Light mode) variables */
:root {
  --font-family: 'Roboto', sans-serif;
  --primary-color: purple;
  --hover-color: #a826f9;
  --text-color: black;
  --hover-text-color: gray;
  --background-color: #F2F0EA;
  --header-bg: #A8D5E3;
  --form-bg: #f9f9f9;
  --form-input-border: #ccc;
  --form-button-hover-bg: #333;
  --border-color: lightgray;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
}

/* Dark mode variables */
.dark-mode {
  --primary-color: #a826f9;
  --hover-color: #be5eff;
  --text-color: white;
  --hover-text-color: #cfcfcf;
  --background-color: #202833;
  --header-bg: #2e3a48;
  --form-bg: #333;
  --form-input-border: #555;
  --form-button-hover-bg: #555;
  --border-color: #444;
  --box-shadow-color: rgba(255, 255, 255, 0.1);
}

* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  width: 100%;
}

#navbar {
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-list {
  display: flex;
}

#navbar-list li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 1rem;
}

a:hover {
  color: var(--hover-text-color);
  text-decoration: underline;
}

/* Hamburger menu button */
.menu-toggle {
  display: none; /* Hidden on larger screens */
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-color);
}

/* Dark mode toggle button */
.project-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  margin-left: auto;
  font-size: 16px;
  cursor: pointer;
}

.project-button:hover {
  background-color: var(--hover-color);
  transform: scale(1.07);
  transition: transform 0.3s ease;
}

.dark-mode-toggle {
  color: white;
  background-color: var(--header-bg);
  border: none;
  cursor: pointer;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem 4rem;

  width: 100%;
  max-width: 2000px; /* Adjust as necessary */
  margin: 0 auto;
}

#top-header section {
  display: flex;
  align-items: center;
}

#mid-header {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
}

#header {
  background-color: var(--header-bg);
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2rem;
}

#project-header {
  margin: 4rem 5rem;
}

#projects-section { 
  min-height: 250px;
  border: solid 2px var(--border-color);
  margin: 2rem 5rem;
  padding: 2rem;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#projects-summary {
  border: solid 2px var(--border-color);
  margin: 2rem auto;
  width: 30%;
  min-height: 150px;
  border-radius: 15px;
}

#projects-summary h2, #projects-summary p {
  text-align: center;
  margin: 1rem;
  padding: 0.5rem 0;
}

.project {
  padding: 1rem 5rem;
  margin: 1rem;
  border: solid 1px var(--border-color);
  border-radius: 8px;
  box-shadow: 0 2px 8px var(--box-shadow-color);
}

#project-form {
    max-width: 600px; 
    margin: 4rem auto; 
    padding: 4rem;
    background-color: var(--form-bg);
    border-radius: 8px;
    box-shadow: 0 2px 8px var(--box-shadow-color);
}

#project-form label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color);
}

.form-input, .form-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px; 
  border: 1px solid var(--form-input-border);
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease; 
}

.form-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 0 auto; 
  display: block; 
}

.form-button:hover {
  background-color: var(--form-button-hover-bg);
  transform: scale(1.07);
  transition: transform 0.3s ease;
}

footer {
  background-color: var(--header-bg);
  padding: 1rem;
  text-align: center;
  font-size: 25px;
}

